body {
background: #87FF32;
font-family: Oswald;
}
input[type=text]{
    text-align: center;
    width:30%;
}

.loremlist{
    text-transform: uppercase;
    color: rgb(179, 95, 40);
}

textarea {
    font-family: Oswald;
    width: 80%;
    height: 300px;
    background-color: #A0FFAC;
    color: #102E25;
    display: inline-block;
    border-radius: 10px;
}

input[type=submit] {
    font-family: Oswald;
    background-color: #D171FF;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}

input[type=submit]:hover, input[type=submit]:active {
    border-radius: 10px;
    background-color: #36005E;
    color: white;
}

a:link, a:visited {
     background-color: #D171FF;
        color: #white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}

a.hlinks {
background: #D171FF;
color:white;}

a:hover, a:active {
    border-radius: 10px;
     background-color: #793FCF;
        color: white;
    
}


.display {
    position: relative;
    text-align: center;
        background: #32E15B;
        display: inline-block;
        width:40%;
        padding: 20px;
        margin: 5% 30%;
        border: 5px solid #D893E1;
        box-sizing: border-box;
        COLOR: #002E0B;
}
nav {
border: 5x solid #D893E1;
box-sizing: border-box;
}
.aright {
float:left;
}
.aleft{
float:right;
}

.dateinput{
width:8%;
}

.yearinput{
width:10%;
}