<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hospital</title>
    <link th:href="@{../style.css}" href="../static/style.css" rel="stylesheet" type="text/css" media="screen"/>
</head>
    <body>

    <center><h1><a href="/" class="hlinks">Hospital 94</a></h1></center><br>

    <nav><center><a href="adddoctor">Dodaj doktora</a>
    <a href="addpatient">Dodaj pacjenta</a>
        <a href="planvisit">Zaplanuj wizytę</a>
    <a href="doctors">Lekarze</a>
    <a href="patients">Pacjenci</a>
    </center></nav><div class="display"><p>Witamy w aplikacji HOSPITAL.</p></div>
</body>
</html>